{% extends "Blog/main.html" %}
{% block content %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de Mi</title>
</head>
<body>
    
    <h2>Me llamo Nicolas Serassio, soy de Rosario, Argentina. Estudio programacion en mi tiempo libre mas alla de que viva de mi trabajo en una fabrica metalurgica</h2> 
    
</body>
</html>
{% endblock %}